/* main container for home page */
.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* container for list of available books */
.book-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}